


*{
	margin: 0;
	padding: 0;
	
}

.menu{
	box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
	opacity: 0.8;
}

.jumbotron{
	background-image: url("./img/dcca4c20678fae5d2994151ee5768581.gif");
	background-position:center;
    background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
}

.container .foto{
	margin-top: -80px;
	width: 300px;
	height: 300px;
}


h1, h2, a {
	font-family: 'Indie Flower', cursive;
	color: white;
	font-weight: normal;
}

h1 {
	text-align: center;
	padding-top: 100px;
}

p {
	font-family: 'Indie Flower', cursive;
	font-size: 1em;
	line-height: 1.5em;
	color: #b0b2b3;
}







.parte > a:hover {
	background: #a494f5;
	color: white;
}


@media (min-width: 575px) {
    .menu {
		position: relative;
    }


	