


*{
	margin: 0;
	padding: 0;

	
}


.menu{
	box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
	
}



.caixa{
	padding: 60px 0px;
	border-bottom: 1px solid #e5e5e5;
	
}

.container-foto{
 margin-top:100px ;
}


.container-info{
	margin-top:100px;
}

h1, h2, a {
	/*font-family: 'Indie Flower', cursive;*/
	color: white;
	font-weight: normal;
}

h1 {
	text-align: center;
	
}

p {
/*font-family: 'Indie Flower', cursive;*/
	font-size: 1em;
	line-height: 1.5em;
	color: #b0b2b3;
}



.parte > a:hover {
	background: #a494f5;
	color: white;
}




	